<h1 class="text-center my-2">Add New friend</h1>

<%= render "form", friend: @friend %>

<br>
<hr>
<div class="mx-5">
  <%= link_to "Back to friends", friends_path, class:"btn btn-secondary" %>
</div>
